
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diece-image{
    display: flex;
}
#winner{
    color: black;
    font-size: xx-large;
}
.heading{
    margin: 2rem;
}
.player1,.player2{
    margin: 2rem;
}
